<!DOCTYPE html><html><head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Angular NgRx Material Starter Project by @tomastrajan">
  <meta property="og:description" content="Angular NgRx Material Starter project with all the best practices, features and usage examples">
  <meta property="og:image" content="/angular-ngrx-material-starter/intro.3e2d7713f2cb475efa85.jpg">
  <meta property="og:url" content="https://tomastrajan.github.io/angular-ngrx-material-starter">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <div> Oiiii </div>
</body>
</html>